@import 'colors.styl'
@import 'mixins.styl'


baseFont = 16
PX = (1/16)em

*
	bbox()

body, html
	rect 100%
	margin 0
	padding 0
	overflow hidden
	font-size (baseFont)px
	font-family monospace
	background-color: #ffffff
	background-color:lighten(#269, 35);
	background-image: linear-gradient(rgba(255,255,255,.25) 2px, transparent 2px),linear-gradient(90deg, rgba(255,255,255,.25) 2px, transparent 2px),linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
	background-size:8em 8em, 8em 8em, 1em 1em, 1em 1em;
	background-position:-2*PX -2*PX, -2*PX -2*PX, -1*PX -1*PX, -1*PX -1*PX


hoverColor = #C7F464

svg
	path:hover
		stroke: hoverColor

.content
	min-width 100%
	min-height 100%
	background-image: repeating-linear-gradient(45deg, transparent, transparent 20*PX, rgba(255,255,255,.25) 20*PX, rgba(255,255,255,.25) 40*PX);
	color white
	overflow auto

.rect
	background-color rgba(0,0,0,.55)
	border 2*PX solid black
	overflow auto

	&:hover
		border-color hoverColor

.main-l
	min-width  100%
	min-height 100%
	position relative
	margin 0 auto

.place-preview-e
	position: absolute
	border 2*PX solid rgba(0,0,0,.2)
	background-color rgba(0,0,0,.1)

.block-e
	@extends .place-preview-e
	border-color rgba(rgb(c-green1),.95)
	background-color rgba(rgb(c-green1),.75)
	background-color rgba(rgb(c-green1),0.1)


