!!!5
html
	head
		meta(charset='UTF-8')
		title Calypso draw
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		svg(style="position:absolute")
			marker(id = "marker-mid", viewBox = "0 0 12 12", refX = "5", refY = "5", markerUnits = "strokeWidth", markerWidth = "2", markerHeight = "2", fill = "black", orient = "auto")
				circle(cx = "5", cy = "5", r = "5")


		.main-l#js-main-l
			.rect(style="width:6em; height:4em; top: 2em; left: 4em; position: absolute")
				.content content loooooooooooong one

			.rect(style="width:6em; height:4em; top: 16em; left: 12em; position: absolute")

			svg(viewBox="0 0 64 192", width="4em", height="12em", style="position: absolute; top:3em; left:10em; padding-right: 1em; padding-bottom: 1em;")
				
				path(d="M0 16 L32 16 L64 16 L64 48 L64 80 L64 112 L64 144 L64 176 L64 208 ", stroke="black", stroke-width="4", fill="none", marker-mid="url(#marker-mid)" )



		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/lib/md5.js")
		script(type="text/javascript", src="js/jquery.hammer.min.js")
		script(type="text/javascript", src="js/tween.min.js")
		script(type="text/javascript", src="js/dat.gui.min.js")
		script(type="text/javascript", src="js/helpers.js")
		script(type="text/javascript", src="js/paper.js")
		script(type="text/paperscript", src="js/paths.js", canvas="paths-place")

		//- script(type="text/javascript", src="js/main.js")
